[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt
	ignore = dirty

[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json
	ignore = dirty
