[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt
	ignore = dirty

[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/ArthurSonzogni/nlohmann_json_cmake_fetchcontent
	ignore = dirty

[submodule "vendor/mk7-memory"]
	path = vendor/mk7-memory
	url = https://github.com/Anto726/MK7-Memory
	ignore = dirty
